<blockquote class="text-xl italic font-semibold text-left text-gray-900 dark:text-white">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">{{ body }}</p>
    <figcaption class="flex items-center justify-center mt-6 space-x-3">
        {{--  <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture">  --}}
        <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
            <cite class="pr-3 font-medium text-gray-900 dark:text-white">Tim</cite>
            <cite class="pl-3 text-sm text-gray-500 dark:text-gray-400">First user at TimOnThe.net</cite>
        </div>
    </figcaption>
</blockquote>